.main_container {
    width: 1900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.product-management-system {
    width: 70%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .product-management-system {
        width: 90%;
    }
}
.products-input-field {
    margin-bottom: 20px;
}
