.PL_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.todos {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set 3 columns */
    gap: 20px;
    width: calc(33.33% - 20px);
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 600px;
    min-width: 800px;
}

.products-list {
    background-color: rgb(50, 195, 205);
}

.cart {
    background-color: rgb(255, 200, 100);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center the title horizontally */
}

@media screen and (max-width: 1100px) {
    .todos {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 700px) {
    .todos {
        width: 100%;
        margin: 10px;
    }
}
