/* Product.css */

.product-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #ADCAC9;
    text-align: center;
    position: relative;
}

.product-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.delete-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


    .delete-button:hover {
        color: red;
    }

    .delete-button svg {
        font-size: 25px;
    }